/* VARIÁVEIS */
$font-primary: 'Jura', serif;
$font-secondary: 'Poppins', serif;
$font-sugo: 'SugoDisplay', serif;

$gray-900: #231c1b;
$gray-500: #a6a6a6;
$gray-300: #d9d9d9;
$gray-shadow: #231c1b40;
$blue-900: #213555;
$blue-700: #3e5879;
$beige-700: #d8c4b6;
$beige-300: #f5efe7;
$white: #fff;
$white-transp: #ffffffbb;
$shadow: #00000066;
$black-transp: #0000002a;
$turquoise: #017385;